deploy_root="/var/www/localhost/htdocs/vm/cloud/user_data"


repository_site="http://localhost/vm/"
repository_prototype_dir="prototype/"
repository_kernel_dir="kernel/"


os_types=["gentoo","ubuntu","hadoop-master","hadoop-slave","apache"]

download_methods=["bt","unicast"]

tmp_download_dir=/var/www/localhost/htdocs/vm/cloud/download/"
